In [1]:
import pandas as pd
import numpy as np

In [22]:
# dati modificati manualmente su excel per quanto riguarda i cambi ora 2019-03-31 ; 2020-03-29 -> media tra ora precedente e successiva

df = pd.read_csv(r"C:\Users\jacop\Desktop\Time Series\Dati Progetto Corretti.csv")

In [28]:
df.head()

        DATA  Ora   VALORE
0 2018-09-01    1  3646742
1 2018-09-01    2  3273110
2 2018-09-01    3  3069245
3 2018-09-01    4  2969621
4 2018-09-01    5  2944116

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17518 entries, 0 to 17517
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATA    17518 non-null  object
 1   Ora     17518 non-null  int64
 2   VALORE  17518 non-null  int64
dtypes: int64(2), object(1)
memory usage: 342.2+ KB

In [25]:
df['DATA'] = pd.to_datetime(df['DATA'], format='%m/%d/%Y')

In [29]:
df.loc[df['DATA'] == '2019-03-31'].head() # mancano le 3

           DATA  Ora   VALORE
5064 2019-03-31    1  3466125
5065 2019-03-31    2  3039997
5066 2019-03-31    3  2907288
5067 2019-03-31    4  2774579
5068 2019-03-31    5  2695786

In [30]:
df.loc[df['DATA'] == '2020-03-29'].head()

            DATA  Ora   VALORE
13800 2020-03-29    1  2642297
13801 2020-03-29    2  2329514
13802 2020-03-29    3  2234134
13803 2020-03-29    4  2138754
13804 2020-03-29    5  2062816

In [31]:
new_df = pd.DataFrame()
new_df['DATA'] = df['DATA'].drop_duplicates()

In [32]:
new_df['DATA'].drop_duplicates()

0       2018-09-01
24      2018-09-02
48      2018-09-03
72      2018-09-04
96      2018-09-05
           ...
17400   2020-08-27
17424   2020-08-28
17448   2020-08-29
17472   2020-08-30
17496   2020-08-31
Name: DATA, Length: 730, dtype: datetime64[ns]

In [37]:
df_finale = new_df

for i in range(1,25):

    temp = df.loc[df['Ora'] == i]

    df_finale = pd.merge(df_finale, temp[['DATA','VALORE']],on = 'DATA', how = 'left')

In [38]:
df_finale.columns = ['date','h1','h2','h3','h4','h5','h6','h7','h8','h9','h10','h11','h12','h13','h14','h15','h16','h17','h18','h19','h20','h21','h22','h23','h24']

In [41]:
df_finale.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 0 to 729
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    730 non-null    datetime64[ns]
 1   h1      730 non-null    int64
 2   h2      730 non-null    int64
 3   h3      730 non-null    int64
 4   h4      730 non-null    int64
 5   h5      730 non-null    int64
 6   h6      730 non-null    int64
 7   h7      730 non-null    int64
 8   h8      730 non-null    int64
 9   h9      730 non-null    int64
 10  h10     730 non-null    int64
 11  h11     730 non-null    int64
 12  h12     730 non-null    int64
 13  h13     730 non-null    int64
 14  h14     730 non-null    int64
 15  h15     730 non-null    int64
 16  h16     730 non-null    int64
 17  h17     730 non-null    int64
 18  h18     730 non-null    int64
 19  h19     730 non-null    int64
 20  h20     730 non-null    int64
 21  h21     730 non-null    int64
 22  h22     730 non-null    int64
 23  h23     730 non-null    int64
 24  h24     730 non-null    int64
dtypes: datetime64[ns](1), int64(24)
memory usage: 148.3 KB

In [42]:
df_finale.to_csv('Dati_orari.csv', index=False)

In [ ]:
# preprocessing completed adding 31/5/2020 : average between same hour slot of the day before and after